.product-slide {
  display: none;
  border: none;
  background-color: transparent;

  img {
    max-width: 100%;
  }

  &.is-active {
    display: block;
  }
}

.product-slides-pagination{
  text-align: center;

  &__slide{
    $productSlideHeight: 3px;
    height: $productSlideHeight;
    width: $productSlideHeight;
    margin-right: $space-4;
    padding: $productSlideHeight;
    @include border-radius(4px);
    background-color: $dark-gray;
    border-color: $dark-gray;

    &.is-active{
      background-color: black;
      border-color: black;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $breakpoint) {

  .product-slide {
    display: block;
  }

  .product-slides-pagination{
    display: none;
  }
}