.close-button {
  $close-button-height: 17px;
  width: $close-button-height;
  height: $close-button-height;
  background-color: transparent;
  border: none;

  &__left {
    height: $close-button-height;
    width: 1px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
  }

  &__right {
    height: $close-button-height;
    width: 1px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
  }
}

.product-image-zoom {
  display: block;
  position: absolute;
  z-index: 1;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  opacity: 0;
  text-align: center;
  padding-top: $space-3;
  background-color: $light-gray;

  &.is-active {
    opacity: 1;
  }

  &__image {
    min-width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: $space-4;
  }

  .close-button {
    position: fixed;
    top: $space-2;
    right: $space-3;
  }

  img {
    max-width: 90%;
  }
}
