.mb-1{
  margin-bottom: $space-1;
}
.mb-2{
  margin-bottom: $space-2;
}
.mb-3{
  margin-bottom: $space-3;
}
.mb-4{
  margin-bottom: $space-4;
}
.mb-5{
  margin-bottom: $space-5;
}
.mb-6{
  margin-bottom: $space-6;
}
.mb-lg{
  margin-bottom: $space-lg;
}