@font-face {
  font-family: 'Thinx';
  src: url('../assets/fonts/Graphik-Medium.otf') format('opentype');
  src: url('../assets/fonts/Graphik-Medium.woff') format('woff');
  src: url('../assets/fonts/Graphik-Medium.ttf')  format('truetype');
}