$white: #FFFFFF;
$off-white: #DEDEDE;
$black: #000000;
$gray: gray;
$light-gray: #F8F8F8;
$dark-gray: #7B7B7B;
$beige: #F2D9A5;
$border: 1px solid $black;

$space-base: 4px;
$space-1: $space-base * 1;
$space-2: $space-base * 2;
$space-3: $space-base * 4;
$space-4: $space-base * 6;
$space-5: $space-base * 8;
$space-6: $space-base * 12;
$space-lg: 100px;

$font-size-1: 11px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;

$font-size-tiny: $font-size-1;
$font-size-sm: $font-size-2;
$font-size-md: $font-size-3;
$font-size-lg: $font-size-4;
$selectLabelPadding: $space-2;
$selectHighlight: $light-gray;

$font-family: "Thinx", Helvetica Neue, Helvetica, Arial;
$breakpoint: 1340px;



