@import './styles/variables';
@import './styles/mixins';
@import './styles/animations';
@import './styles/reset';
@import './styles/typography';
@import './styles/display';
@import './styles/spacing';
@import './styles/controls';
@import './styles/select-control';
@import './styles/product-slides';
@import './styles/product-image-zoom';

body {
  font-family: $font-family;
}

button{
  padding: $space-2;
  background-color: $black;
  border: 1px solid black;
  color: $white;
  cursor: pointer;
  font-size: $font-size-md;

  &:disabled{
    background-color: $dark-gray;
    border-color: $dark-gray;
  }

  &.block{
    width: 100%;
    font-weight: bold;
  }
}

p {
  margin-bottom: $space-4;
}

.container{
  position: relative;
}

.section-container{
  margin: 0;
  padding: $space-lg 10%;
  text-align: left;

  &:first-child{
    background-color: $light-gray;
  }

  &:last-child{
    background-color: $white;
  }
}

.text-center {
  text-align: center;
}

.top-container{

  &-center-column{
    margin-bottom: $space-6;
  }
}

@media screen and (min-width: 1340px) {

  .section-container{
    padding: 0;
  }

  .top-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-center-column{
      flex: 4;
    }
    &-sticky-column{
      flex: 3;
    }
  }

  .fixed-columns{
    position: sticky;
    display: flex;
    flex-flow: column;
    text-align: left;
    top: 250px;
    padding: $space_3;
  }

  .product-row-double{
    display: flex;
    justify-content: space-between;
  }

  .product-row-single{
    display: flex;
    justify-content: center;
  }
}