body, p, div, main, section{
  margin: 0;
  padding: 0;
}

button{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;

  &:disabled{
    background-color: lightgray;
  }
}

p {
  margin-bottom: 16px;
}

.hide-for-small{
  display: none;
}

.section-container{
  margin: 0;
  padding: 0 32px;
}
.top-container{

}

.inc-dec-control{
  display: flex;

  &__label {
    padding: 4px 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  button{
    padding: 4px;
  }
}

@media screen and (min-width: 1340px) {

  .section-container{
    padding: 0;
  }

  .top-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-center-column{
      flex: 4;
    }
    &-sticky-column{
      flex: 3;
    }
  }

  .hide-for-small{
    display: initial;
  }

  .hide-for-large{
    display: none;
  }

  .fixed-columns{
    position: sticky;
    display: flex;
    flex-flow: column;
    text-align: left;
    top: 170px;
    padding: 16px;
  }

  .text-upper-case{
    text-transform: uppercase;
  }

  .product-row-double{
    display: flex;
    justify-content: space-between;
  }

  .product-row-single{
    display: flex;
    justify-content: center;
  }
}